<Cube name="UDS Mapper - Heatlh Centers">
    <Annotations>
        <Annotation name="source_name">UDS Mapper</Annotation>
        <Annotation name="source_description">UDS Mapper</Annotation>
        <Annotation name="dataset_link">https://www.udsmapper.org/</Annotation>
        <Annotation name="dataset_name">UDS Mapper</Annotation>
        <Annotation name="topic">Access to Care</Annotation>
        <Annotation name="subtopic">Access to Care</Annotation>
        <Annotation name="details"></Annotation>
    </Annotations>

    <Table name="health_centers" schema="uds_mapper"/>

    <Dimension name="Year">
        <Annotations>
            <Annotation name="dim_type">TIME</Annotation>
        </Annotations>
         <Hierarchy hasAll="true">
            <Level name="Year" column="year" type="Numeric" levelType="TimeYears" uniqueMembers="true" />
        </Hierarchy>
    </Dimension>

    <Dimension foreignKey="zip_code" name="Geography">
        <Annotations>
            <Annotation name="dim_type">GEOGRAPHY</Annotation>
        </Annotations>
        <Hierarchy hasAll="true" name="Zip">
            <Table name="zips" schema="shapes2017"/>
            <Level column="geoid" name="Zip" nameColumn="name" uniqueMembers="true"/>
        </Hierarchy>
    </Dimension>

    <Measure name="Health Centers" column="health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">Number</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Dominant Health Center" column="dominant_health_center" datatype="String" caption="Dominant Health Center" aggregator="max">
        <Annotations>
            <Annotation name="units_of_measurement">Name</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Total Population" column="total_population" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Low-Income Population" column="low_income_population" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Patients" column="total_number_of_health_center_patients" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Unserved Low-Income" column="unserved_low_income" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Low-Income Health Center Penetration" column="penetration_of_low_income" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Penetration" column="penetration_of_total_population" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Health Center Penetration" column="penetration_of_uninsured_population" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Penetration with Medicaid and Other Public Insurance" column="penetration_of_population_with_medicaid_and_other_pub_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Penetration with Medicaid and Private Insurance" column="penetration_of_population_with_medicare_and_priv_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Health Center Patient Change (1-Year)" column="1_year_patient_percent_change" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Patient Change (2-Year)" column="2_year_patient_percent_change" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="2-Year Patient # Change" column="2_year_patient_number_change" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Health Center Uninsured Patient Change (1-Year)" column="1_year_uninsured_patient_percent_change" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Medicaid and Other Public Insurance Patient Change (1-Year)" column="1_year_medicaid_and_other_pub_ins_patient_percent_change" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Medicare and Private Insurance Patient Change (1-Year)" column="1_year_medicare_and_priv_ins_patient_percent_change" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Low-Income Not Served by Health Centers" column="low_income_not_served_by_health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Not Served by Health Centers" column="uninsured_not_served_by_health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Medicaid and Other Public Insurance Not Served by Health Centers" column="medicaid_and_other_pub_ins_not_served_by_health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Medicare and Private Insurance Not Served by Health Centers" column="medicare_and_priv_ins_not_served_by_health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Population Not Served by Health Centers" column="total_population_not_served_by_health_centers" aggregator="sum">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Health Center Patients" column="percent_patients_uninsured" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Patients with Medicaid and Other Public Insurance" column="percent_patients_with_medicaid_and_other_pub_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Health Center Patients with Medicare and Private Insurance" column="percent_patients_with_medicare_and_priv_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Health Center Patients in Poverty" column="percent_population_in_poverty" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Low-Income Health Center Patients" column="percent_low_income_population" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Non-white Health Center Patients" column="percent_non_white" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Hispanic Health Center Patients" column="percent_hispanic" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Black Health Center Patients" column="percent_black" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Asian Health Center Patients " column="percent_asian" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="American Indian/Alaska Native Health Center Patients" column="percent_american_indian_alaska_native" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Percent Population Uninsured - JSI" column="percent_population_uninsured_jsi" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Population with Medicaid and Other Public Insurance" column="percent_population_with_medicaid_and_other_pub_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Population with Medicare and Private Insurance" column="percent_population_with_medicare_and_priv_ins" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Percent Pop Not Employed" column="percent_pop_not_employed" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Limited English Proficiency" column="percent_pop_with_limited_english_proficiency" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Less Than High School Education" column="percent_pop_with_less_than_high_school_education" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Percent Population Uninsured - RGC" column="percent_population_uninsured_rgc" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Low Birth Weight Rate" column="low_birth_weight_rate" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Rate</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Age-Adjusted Mortality Rate (per 100,000)" column="age_adjusted_mortality_rate_per_100000" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">People</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Percent Adults Ever Told They Have Diabetes" column="percent_adults_ever_told_they_have_diabetes" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Percent Adults Ever Told They Have High Blood Pressure" column="percent_adults_ever_told_they_have_high_blood_pressure" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Percent Adults Who Are Obese" column="percent_adults_who_are_obese" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
            <Annotation name="hide_in_ui">true</Annotation>
        </Annotations>
    </Measure>
    <Measure name="No Dental Visits in Past Year" column="percent_adults_with_no_dental_visit_in_past_year" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Delayed or Not Sought Care Due to High Cost" column="percent_adults_who_have_delayed_or_not_sought_care_due_to_high_cost" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="No Usual Source of Care" column="percent_adults_with_no_usual_source_of_care" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>

    <Measure name="Uninsured Population Below 100% FPL" column="percent_uninsured_population_below_100_percent_fpl" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Population Below 138% FPL" column="percent_uninsured_population_below_138_percent_fpl" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Population Below 200% FPL" column="percent_uninsured_population_below_200_percent_fpl" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Population Below 100%-400% FPL" column="percent_uninsured_population_at_100_percent_400_percent_fpl" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
    <Measure name="Uninsured Population Below 138%-400% FPL" column="percent_uninsured_population_at_138_percent_400_percent_fpl" aggregator="avg">
        <Annotations>
            <Annotation name="units_of_measurement">Percentage</Annotation>
        </Annotations>
    </Measure>
</Cube>